* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "montserrat", sans-serif;
  background-color: rgb(255, 254, 244);
  background-size: cover;
  background-position: top center;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 15px 15px;
  flex-direction: column;
}
.selector {
  width: 100%;
  position: relative;
  text-align: right;
}

/* .selector select option {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px 15px !important;
} */
header .search {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.2);
  color: gray;
  border-radius: 10px;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.05);
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
}
header .search:focus {
  background-color: rgba(255, 255, 255, 0.4);
}
header input::placeholder {
  font-size: 16px;
}
main {
  flex: 1 1 100%;
  padding: 25px 25px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-height: 230px;
  min-width: 500px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.05);
}
.location {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0px 60px 0px 100px;
  margin-top: 10px;
}
.current {
  display: flex;
  padding: 0px 60px 0px 100px;
  width: 100%;
  margin-top: 15px;
  font-size: 18px;
}
.hi-low {
  margin-right: 50px;
  color: rgb(110, 110, 110);
  display: flex;
  align-items: center;
}
.hi-low::before {
  content: "";
  display: inline-block;
  background-image: url("https://i.postimg.cc/Dzj4ZhFv/temp.png");
  background-size: contain;
  width: 35px;
  height: 35px;
  margin-left: -10px;
}
.humidity {
  color: rgb(110, 110, 110);
  display: flex;
  align-items: center;
}
.humidity::before {
  background-image: url("https://i.postimg.cc/k4LVQyBL/humi.png");
  background-size: contain;
  width: 35px;
  height: 35px;
  margin-left: -10px;
  content: "";
  display: inline-block;
}
.location .cityInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.location .city {
  font-size: 25px;
  font-weight: 700;
  color: rgb(80, 80, 80);
}
.location .weather {
  font-size: 17px;
  color: rgb(110, 110, 110);
}
.location .temp {
  font-size: 35px;
  color: rgb(110, 110, 110);
}
.validName {
  color: gray;
  margin-bottom: 5px;
  opacity: 0;
  transition: 0.6s;
}
.weatherIcon {
  position: absolute;
  display: flex;
  justify-content: center;
  top: -50%;
  left: -4%;
  animation: circle 6s linear infinite;
}
.btn {
  border-radius: 50%;
  width: 35px;
  border: none;
  padding: 8px;
}
.selector .active {
  background-color: rgb(137, 211, 197);
  color: #fff !important;
}
#language {
  width: 100%;
  color: gray;
  display: flex;
  justify-content: space-around;
  padding-bottom: 5px;
}
.langBtn {
  flex: 1 1 100%;
  background-color: rgb(255, 254, 244);
  color: gray;
  border: none;
  cursor: pointer;
  padding-bottom: 3px;
}
#language .active1 {
  border-bottom: 1px solid rgb(137, 211, 197);
  padding-bottom: 2px;
}
.date {
  color: rgb(110, 110, 110);
  font-size: 18px;
}
.date::before {
  font-family: "Font Awesome 5 Free";
  content: "\f073";
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-left: -10px;
  color: rgb(137, 211, 197);
}
.dailyWrapper {
  display: flex;
  justify-content: space-around;
  min-height: 100vh;
}
.dailyDiv {
  width: 150px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.05);
  height: 200px;
}
@keyframes circle {
  0% {
    transform: rotate(0deg) translate(-4px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(-4px) rotate(-360deg);
  }
}
@keyframes circleSmall {
  0% {
    transform: rotate(0deg) translate(-2px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(-2px) rotate(-360deg);
  }
}

@media (min-width: 320px) and (max-width: 425px) {
  main {
    min-width: 100%;
    padding: 25px 10px 25px;
  }
  .current,
  .location {
    padding: 0px 30px;
  }
  .weatherIcon {
    top: -80%;
    animation: circleSmall 6s linear infinite;
  }
}
